In [1]:
list1 = [4,5,6]

In [2]:
print(list1)

[4, 5, 6]

In [3]:
print(type(list1))
print(id(list1))

<class 'list'>
139843452753856

In [7]:
list1.append(69)
print(list1)
print(type(list1))
print(id(list1))

[4, 5, 6, 69, 69]
<class 'list'>
139843452753856

In [8]:
i=8
j=4

if i>j:
    print("Largest")
else:
    print("Smallest")
print(id(i))

Largest
139843924381256

In [13]:
str2 = "Hey!, I am Mukesh Choudhary"
str3 = "stanny puch inko \"kahi\" se hai"
str1 = r'Who are \you' # we can use double or sinle quotes as per convinence

In [14]:
print(str1)
print(str2)
print(str3)

Who are \you
Hey!, I am Mukesh Choudhary
stanny puch inko "kahi" se hai

In [15]:
str2.upper()
#str3.lower()

'HEY!, I AM MUKESH CHOUDHARY'

In [16]:
str3.replace("kahi","kaha")

'stanny puch inko "kaha" se hai'

In [18]:
s1 ="Mukesh"
s2 ="Choudhary"
s1+s2

'MukeshChoudhary'

In [19]:
s1<s2

False

In [21]:
s1*5

'MukeshMukeshMukeshMukeshMukesh'

In [22]:
print("s" in s1)
print("a" in s1)
print("S" in s1)

True
False
False

In [23]:
s1[5]

'h'

In [25]:
s1[1:4]

'uke'

In [26]:
str2[0:93] #Available string are printed here

'Hey!, I am Mukesh Choudhary'

In [27]:
val =input("enter your name")
print(f"Hi {val}")

enter your name Mukesh Choudhary

Hi Mukesh Choudhary

In [30]:
a=1
b=-1.7
c=(a+b)
round(c)

-1

In [31]:
a=6
b=4
print(bin(a))
print(bin(b))

0b110
0b100

In [32]:
print(bin(a|b))

0b110

In [34]:
shifta= a>>2
print(bin(shifta))

0b1

In [35]:
shifta

1

In [36]:
list5 =[2,3,5,7,4,6,1,3]

for e in list5:
    print(e)

2
3
5
7
4
6
1
3

In [37]:
for i in range(0,25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [40]:
str4= "Mukesh Choudhary"
for i in range(0,len(str4)):
    print(str4[i])

M
u
k
e
s
h

C
h
o
u
d
h
a
r
y

In [41]:
a=1
b=15

while a<b:
  print(a)

  a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [42]:
a=1
b=100

while a<b:
  # count+=1
   print(a)

   a+=1

   if a>8:
     break
   
   print("Mukesh")

   #if count>500:
   #break
print("Rhne de ab")

1
Mukesh
2
Mukesh
3
Mukesh
4
Mukesh
5
Mukesh
6
Mukesh
7
Mukesh
8
Rhne de ab

In [43]:
a=1
b=100

while True:
  # count+=1
   print(a)

   a+=1

   if a>20:
      break
   
   if a>7:
     continue
   
   print("Mukesh")

   #if count>500:
   #break
print("Rhne de ab")

1
Mukesh
2
Mukesh
3
Mukesh
4
Mukesh
5
Mukesh
6
Mukesh
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Rhne de ab

In [44]:
str1 = "hello bsdl bol na"
str2 ="BOl Na"

#print(str2 in str1)
print(str2.upper() in str1.upper())  #membership function

True

In [72]:
list2 =[1,22,53,74,89,'69']
list2

[1, 22, 53, 74, 89, '69']

In [73]:
for i in list2:
    print(i)

1
22
53
74
89
69

In [74]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [83]:
for i in range(0,len(list2)):
    print(f" at index \t{i} \n value is {list2}")

TypeError: 'set' object is not callable

In [84]:
list2 = {5,2,6,7,5,9}
for i in (0,len(list2)):
    print(i)

0
5

In [85]:
row1 =[50, 60]
row2 = [51,61]
matrix=[row1 ,row2]

matrix ,len(matrix)

([[50, 60], [51, 61]], 2)

In [86]:
matrix[0][0]

50

In [87]:
for i in matrix:
    print(id(matrix))
    print(i)
len(matrix)

139843429783552
[50, 60]
139843429783552
[51, 61]

2

In [88]:
def showdetails(val):
    print(f"value is {val} \n  ID is {id(val)}")

In [89]:
showdetails(list2)

value is {2, 5, 6, 7, 9}
  ID is 139843453254368

In [92]:
list2[0]=1000
showdetails(list2)

TypeError: 'set' object does not support item assignment

In [93]:
listA =[[1,2,3],[4,5,6],[7,8,9]]
print(listA)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [94]:
#shallow copy
listB=listA.copy()
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
139843430391232
139843430387264

In [95]:
#it is also shallow copy
listB=list(listA)
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
139843430391232
139843430444800

In [96]:
import copy
listB =copy.deepcopy(listA)
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
139843430391232
139843430300864

In [97]:
import keyword   
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [98]:
#initializing

var1 = 12
var2 = 45


#defining the function 

def add(a,b,c,d,e):
    res =a+b+c+d+e
    return res



#using function
result =add(var1,var2,5,2,3)  # we can pass any data type as argument in a variable functio will treat every variable as an object
print(f"result is {result}")

result is 67

#### write a function that takes two values and return the result

In [100]:
def taking(a , b):
    c=a+b
    print(c) 

taking(8 ,6)

14

In [102]:
def greet(name ,massage):
    print(f"HI {name} {massage}")

name = "Mukesh!"
massage = "How are you ?"
greet(name ,massage)
# greet(name= "Mukesh" , massage= "HOw are you") #Another way to print

HI Mukesh! How are you ?

In [103]:
x =10   #Global variable

def outer_function():
    x = 20    #Enclosing variable
    def inner_function():
        x = 30  #Local variable
        print(x)          # output : 30
    inner_function()
    print(x)               # output :20


outer_function()
print(x)       
          #output = 10

30
20
10

In [104]:
counter = 0

def increament():
    global counter
    counter += 1

In [105]:
increament()
print(counter)

1

In [106]:
def modify_immutable(x):
    x+=1
    print(f"inside function : {x}")

In [107]:
a = 6
modify_immutable(a)
print(f"outside function : {a}")

inside function : 7
outside function : 6

In [108]:
def modify_mutable(list):
    list.append(7)
    print(f"inside function : {list}")

In [109]:
my_list = [1 ,2 , 3]
modify_mutable(my_list)
print(f"outside function : {my_list}")

inside function : [1, 2, 3, 7]
outside function : [1, 2, 3, 7]

In [111]:
def square(x):
    return x*x

f =square
print(f(7))

def apply_function(fun ,val):
    return fun(val)

49

In [114]:
result = apply_function(square , 8)
print(result)

64

In [115]:
def double(x):

    return x*2

def triple(x):
    return x*3

def apply_operation(fun ,number):
    return fun(number)

In [116]:
print(apply_operation(double , 5))
print(apply_operation(triple , 5))

10
15

### lambda function ###

**lambda function to add two numbers**

In [117]:
add =lambda a , b: a + b
print(add(5,9))

14

In [118]:
numbers = [4 , 5 ,6 , 15]
squared = map(lambda x: x * x ,numbers)
print(list(squared))

[16, 25, 36, 225]

**filter function : checks condition true then return it and if condition is false then ignores it move ahead**

In [119]:
even_numbers = filter(lambda x: x % 2 == 0 , numbers)
print(list(even_numbers))

[4, 6]

### write a function to multiply three numbers and return its result using both normal function and lambda function ###

In [120]:
def multiply(a , b ,c):
    return (a*b*c)

multiply( 5, 6 ,2)

60

In [121]:
multiply = lambda a, b ,c: a*b*c
print(multiply(4,5,3))

60

__creating a list of squares of even numbers from 0 to 9__

In [122]:
squares = []
for i in range(10):
    if i % 2 == 0:
        squares.append(i ** 2)

__creating a list of squares of even numbers from 0 to 9 using list comprehension__

In [123]:
squares = [ i**2 for i in range(10) if i % 2 == 0]